{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eufo pipefail

if ! grep -q "/usr/local/bin/fish" /etc/shells; then
   echo "/usr/local/bin/fish" | sudo tee -a /etc/shells
   chsh -s /usr/local/bin/fish
fi

defaults write com.lwouis.alt-tab-macos holdShortcut "\\U2318"
defaults write com.lwouis.alt-tab-macos hideWindowlessApps true
defaults write com.lwouis.alt-tab-macos menubarIcon 3
defaults write com.lwouis.alt-tab-macos previewFocusedWindow true

vf install

{{ end -}}

