{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

if ! type brew > /dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew bundle --no-lock --file=/dev/stdin <<EOF
tap  "d12frosted/emacs-plus"
tap  "homebrew/services"
tap  "homebrew/cask-fonts"
tap  "homebrew/cask-drivers"
brew "fish"
brew "git"
brew "chezmoi"
brew "sqlite"
brew "coreutils"
brew "cmake"
brew "neovim"
brew "pandoc"
brew "pipenv"
brew "poppler"
brew "ripgrep"
brew "shellcheck"
brew "texlab"
brew "pinentry-mac"
brew "gnupg"
brew "pass"
brew "pass-git-helper"
brew "tmux"
brew "d12frosted/emacs-plus/emacs-plus@29", args: ["with-elrumo2-icon", "with-native-comp", "with-no-frame-refocus", "with-xwidgets"]
cask "alacritty"
cask "deepl"
cask "font-cantarell"
cask "font-fira-code"
cask "font-ubuntu-mono-nerd-font"
cask "karabiner-elements"
cask "mactex-no-gui"
cask "spaceman"
cask "via"
cask "firefox"
cask "spotify"
EOF


{{ end -}}
