{{- if (eq .chezmoi.os "linux") -}}
#!/bin/fish

if ! type -q paru
        set CWD $pwd
        mkdir ~/paruinstall/
        cd ~/paruinstall
	sudo pacman -S --needed base-devel
	git clone https://aur.archlinux.org/paru.git
	cd paru
	makepkg -si
        cd $CWD
        set -e CWD
end

if ! type -q darkman
        paru -S darkman
        systemctl --user enable --now darkman.service
end

paru -S nerd-fonts-ubuntu-mono
paru -S wev

sudo pacman -S --needed alacritty
sudo pacman -S --needed arc-gtk-theme
sudo pacman -S --needed arc-icon-theme
sudo pacman -S --needed archlinux-keyring
sudo pacman -S --needed bat
sudo pacman -S --needed chezmoi
sudo pacman -S --needed clang
sudo pacman -S --needed cmake
sudo pacman -S --needed d-feet
sudo pacman -S --needed dex
sudo pacman -S --needed firefox
sudo pacman -S --needed fish
sudo pacman -S --needed gcc
sudo pacman -S --needed git
sudo pacman -S --needed grep
sudo pacman -S --needed gtk4
sudo pacman -S --needed gzip
sudo pacman -S --needed interception-dual-function-keys
sudo pacman -S --needed interception-tools
sudo pacman -S --needed jq
sudo pacman -S --needed kio
sudo pacman -S --needed kwallet
sudo pacman -S --needed kwallet-pam
sudo pacman -S --needed libtool
sudo pacman -S --needed light
sudo pacman -S --needed make
sudo pacman -S --needed mako
sudo pacman -S --needed man-db
sudo pacman -S --needed neofetch
sudo pacman -S --needed neovim
sudo pacman -S --needed nextcloud-client
sudo pacman -S --needed npm
sudo pacman -S --needed openssh
sudo pacman -S --needed p7zip
sudo pacman -S --needed pass
sudo pacman -S --needed pass-otp
sudo pacman -S --needed passff-host
sudo pacman -S --needed pipewire
sudo pacman -S --needed wireplumber
sudo pacman -S --needed pipewire-pulse
sudo pacman -S --needed poppler-glib
sudo pacman -S --needed qrencode
sudo pacman -S --needed qt6-wayland
sudo pacman -S --needed sed
sudo pacman -S --needed sudo
sudo pacman -S --needed sway
sudo pacman -S --needed swayidle
sudo pacman -S --needed swaylock
sudo pacman -S --needed tmux
sudo pacman -S --needed ttf-fira-code
sudo pacman -S --needed unzip
sudo pacman -S --needed waybar
sudo pacman -S --needed wayland
sudo pacman -S --needed wget
sudo pacman -S --needed which
sudo pacman -S --needed wl-clipboard
sudo pacman -S --needed wofi
sudo pacman -S --needed zip

{{ end -}}
