{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eufo pipefail

if ! grep -q "/usr/local/bin/fish" /etc/shells; then
   echo "/usr/local/bin/fish" | sudo tee -a /etc/shells
   chsh -s /usr/local/bin/fish
fi

if ! grep -q ".Rproj.user" /Applications/Nextcloud.app/Contents/Resources/sync-exclude.lst; then
   echo ".Ruserdata" | sudo tee -a /Applications/Nextcloud.app/Contents/Resources/sync-exclude.lst
   echo ".Rproj.user*" | sudo tee -a /Applications/Nextcloud.app/Contents/Resources/sync-exclude.lst
fi

{{ end -}}

