{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

if ! type brew > /dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew bundle --no-lock --file=/dev/stdin <<EOF
tap  "d12frosted/emacs-plus"
tap  "hmarr/tap"
tap  "homebrew/cask-fonts"
tap  "homebrew/cask-drivers"
brew "fish"
brew "git"
brew "svn"
brew "cmake"
brew "chezmoi"
brew "openconnect"
brew "bat"
brew "sqlite"
brew "coreutils"
brew "deno"
brew "node"
brew "enchant"
brew "fd"
brew "ffmpeg"
brew "mas"
brew "gnu-sed"
brew "neovim"
brew "pandoc"
brew "perl"
brew "pipenv"
brew "poppler"
brew "ripgrep"
brew "shellcheck"
brew "texlab"
brew "tmux"
brew "bitwarden-cli"
brew "d12frosted/emacs-plus/emacs-plus@29", args: ["with-elrumo2-icon", "with-native-comp", "with-no-frame-refocus", "with-xwidgets"]
cask "alacritty"
cask "amethyst"
cask "min"
cask "anki"
cask "autodesk-fusion360"
cask "deepl"
cask "font-cantarell"
cask "font-fira-code"
cask "font-ubuntu-mono-nerd-font"
cask "karabiner-elements"
cask "mactex-no-gui"
cask "logitech-options"
cask "oracle-jdk"
cask "r"
cask "rstudio"
cask "signal"
cask "spaceman"
cask "via"
cask "vitals"
cask "firefox"
cask "zoom"
cask "spotify"
cask "whatsapp"
mas  "Bitwarden", id: 1352778147
mas  "Reeder", id: 1529448980
EOF
{{ end -}}
