#!/bin/bash

# Last logs sha:
# {{ output "git" .zotraPath "log" "-n" "5" | sha256sum }}


# Last logs sha submodule:
# {{ output "git" .zotraPathSub "log" "-n" "5" | sha256sum }}


cd ~/.config/zotra-server
npm install .
