{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

xcode-select -p >/dev/null 2>&1 || xcode-select --install

if ! type brew > /dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/cask-fonts"
tap "homebrew/services"
brew "python"
brew "ansible"
brew "chezmoi"
brew "coreutils"
brew "sqlite"
brew "gcc"
brew "tesseract"
brew "fish"
brew "git"
brew "gnupg"
brew "graphviz"
brew "jq"
brew "neovim"
brew "ocrmypdf"
brew "ollama"
brew "pandoc"
brew "pass"
brew "pass-git-helper"
brew "pinentry-mac"
brew "pipenv"
brew "pipx"
brew "poetry"
brew "poppler"
brew "prettier"
brew "pygments"
brew "pympress"
brew "python@3.12"
brew "r"
brew "ripgrep"
brew "tesseract-lang"
brew "texlab"
brew "tmux"
brew "wget"
cask "adobe-acrobat-reader"
cask "alacritty"
cask "alt-tab"
cask "deepl"
cask "docker"
cask "figma"
cask "firefox"
cask "font-cantarell"
cask "font-fira-code"
cask "font-open-sans"
cask "font-ubuntu-mono-nerd-font"
cask "karabiner-elements"
cask "mactex-no-gui"
cask "nextcloud"
cask "obsidian"
cask "quarto"
cask "raspberry-pi-imager"
cask "raycast"
cask "signal"
cask "steam"
cask "tunnelblick"
cask "visual-studio-code"
cask "zotero@beta"
cask "zoom"
vscode "alefragnani.project-manager"
vscode "chrischinchilla.vscode-pandoc"
vscode "esbenp.prettier-vscode"
vscode "foxundermoon.shell-format"
vscode "mads-hartmann.bash-ide-vscode"
vscode "mblode.zotero"
vscode "ms-ceintl.vscode-language-pack-de"
vscode "ms-python.debugpy"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "quarto.quarto"
vscode "reditorsupport.r"
vscode "sainnhe.edge"
vscode "sumneko.lua"
vscode "tomoki1207.pdf"
EOF
{{ end -}}
