{{- if (eq .chezmoi.os "darwin") -}}
export LANG="en_US.UTF-8"
# export PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
export PATH="/usr/local/sbin:$PATH"
{{ end -}}

export ZDOTDIR=$HOME/.config/zsh/
export XDG_CONFIG_HOME=$HOME/.config

export PYENV_ROOT="$HOME/.config/pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"

export PIPENV_VENV_IN_PROJECT=1
export PIPENV_PYTHON="$PYENV_ROOT/shims/python"

export EDITOR="nvim"
export VISUAL="emacsclient -c -s $HOME/.cache/emacsserver/emacsen"
