Host *
  IdentityAgent {{ if eq .chezmoi.os "darwin" -}}
    ~/Library/Containers/com.bitwarden.desktop/Data/.bitwarden-ssh-agent.sock
  {{- else -}}
    ~/.bitwarden-ssh-agent.sock
  {{- end }}


Include ~/OpenCloud/Dots/servers.conf
