{{ if eq .chezmoi.os "darwin" -}}
pinentry-program /usr/local/bin/pinentry-mac
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
{{ end -}}

allow-emacs-pinentry
allow-loopback-pinentry
default-cache-ttl 18000
max-cache-ttl 86400
