<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.env.r_profile_user</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/launchctl</string>
        <string>setenv</string>
        <string>R_PROFILE_USER</string>
        <string>{{ .chezmoi.homeDir }}/.config/R/.Rprofile</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
