/* The whole wofi window */
#window {
  font-family: Cantarell;
}

/* Search input */
#input {
  margin: 4px;
  border: 1px solid;
  border-radius: 0;
  font-size: 14px;
}


/* Box that contains search bar and entries */
#outer-box {
  padding: 4px;
}

/* Scrolled window containing all the entries */
#scroll {
  margin: 4px 0px;
  font-size: 14px;
}

/* Box containing all entries */
#inner-box {
  margin: 0 4px;
}

#text {
    margin-left: 0.5rem;
    
}

/* Box containing all entries (not sure what's the difference to #inner-box) */
#entry {}

/* A single entry */
.entry {
  padding: 2px 4px;
}

/* A single entry, selected */
