#!/opt/homebrew/bin/fish

set -U fish_greeting

set -Ux EDITOR nvim
set -Ux XDG_CONFIG_HOME $HOME/.config
set -Ux HOMEBREW_BUNDLE_FILE_GLOBAL "$XDG_CONFIG_HOME/homebrew/Brewfile"
set -Ux R_PROFILE_USER "$XDG_CONFIG_HOME/R/.Rprofile"
