window:
  padding:
    x: 10
    y: 10
  dynamic_padding: true
  decorations: buttonless

font:
  normal:
    family: FiraCode Nerd Font 
    style: Regular
  bold:
    family: FiraCode Nerd Font
    style: Extra Bold
  italic:
    family: FiraCode Nerd Font
    style: Italic
  offset:
      y: 4
  glyph_offset:
      y: 2
  
shell:
{{ if (eq .chezmoi.os "darwin") }}
  program: /usr/local/bin/tmux
{{ else if (eq .chezmoi.os "linux" ) }}
  program: tmux
{{- end }}
  args:
    - -u
    - new-session
    - -A
    - -s
    - main

selection:
  semantic_escape_chars: ',│`|:"'' ()[]{}<>'
  save_to_clipboard: true
{{- if (eq .chezmoi.os "darwin") }}
key_bindings:
  - { key: 26,      mods: Alt, chars: "{" }
  - { key: 29,      mods: Alt, chars: "}" }
  - { key: 12,      mods: Alt, chars: "@" }
  - { key: 27,      mods: Alt, chars: "\\" }
  - { key: 50,      mods: Alt, chars: "|" }
  - { key: 30,      mods: Alt, chars: "~" }
  - { key: 28,      mods: Alt, chars: "[" }
  - { key: 25,      mods: Alt, chars: "]" }
{{- else if (eq .chezmoi.os "linux" ) }}
key_binding:
 - { key: Key5,     mods: Alt,        chars: "\x5b"                     }
 - { key: Key6,     mods: Alt,        chars: "\x5d"                     }
 - { key: Key7,     mods: Alt|Shift,  chars: "\x5c"                     }
 - { key: Key7,     mods: Alt,        chars: "\x7c"                     }
 - { key: Key8,     mods: Alt,        chars: "\x7b"                     }
 - { key: Key9,     mods: Alt,        chars: "\x7d"                     }
 - { key: L,        mods: Alt,        chars: "\x40"                     }
 - { key: V,        mods: Control|Shift, action: Paste            }
 - { key: C,        mods: Control|Shift, action: Copy             }
 - { key: Insert,   mods: Shift,         action: PasteSelection   }
 - { key: Key0,     mods: Control,       action: ResetFontSize    }
 - { key: Equals,   mods: Control,       action: IncreaseFontSize }
 - { key: Plus,     mods: Control,       action: IncreaseFontSize }
 - { key: Minus,    mods: Control,       action: DecreaseFontSize }
 - { key: Paste,                                       action: Paste          }
 - { key: Copy,                                        action: Copy           }
 - { key: PageUp,    mods: Shift,   mode: ~Alt,        action: ScrollPageUp,  }
 - { key: PageDown,  mods: Shift,   mode: ~Alt,        action: ScrollPageDown }
 - { key: Home,      mods: Shift,   mode: ~Alt,        action: ScrollToTop,   }
 - { key: End,       mods: Shift,   mode: ~Alt,        action: ScrollToBottom }
{{ end }}
schemes:  

  ### Edge (Light variant)
  edge_light:	  &edge_light
    primary:
      background: "0xfafafa"
      foreground: "0x4b505b"
  
    normal:
      black: "0x4b505b"
      red: "0xd05858"
      green: "0x608e32"
      yellow: "0xbe7e05"
      blue: "0x5079be"
      magenta: "0xb05ccc"
      cyan: "0x3a8b84"
      white: "0xfafafa"
  
    bright:
      black: "0x4b505b"
      red: "0xd05858"
      green: "0x608e32"
      yellow: "0xbe7e05"
      blue: "0x5079be"
      magenta: "0xb05ccc"
      cyan: "0x3a8b84"
      white: "0xfafafa"

  ### Edge (Dark Default variant)
  edge_dark_def:  &edge_dark_default
    primary:
      background: "0x2c2e34"
      foreground: "0xc5cdd9"
  
    normal:
      black: "0x3e4249"
      red: "0xec7279"
      green: "0xa0c980"
      yellow: "0xdeb974"
      blue: "0x6cb6eb"
      magenta: "0xd38aea"
      cyan: "0x5dbbc1"
      white: "0xc5cdd9"
  
    bright:
      black: "0x3e4249"
      red: "0xec7279"
      green: "0xa0c980"
      yellow: "0xdeb974"
      blue: "0x6cb6eb"
      magenta: "0xd38aea"
      cyan: "0x5dbbc1"
      white: "0xc5cdd9"

  ### Edge (Dark Aura variant)
  edge_dark_aura:  &edge_dark_aura
    primary:
      background: "0x2b2d37"
      foreground: "0xc5cdd9"
  
    normal:
      black: "0x363a49"
      red: "0xec7279"
      green: "0xa0c980"
      yellow: "0xdeb974"
      blue: "0x6cb6eb"
      magenta: "0xd38aea"
      cyan: "0x5dbbc1"
      white: "0xc5cdd9"
  
    bright:
      black: "0x363a49"
      red: "0xec7279"
      green: "0xa0c980"
      yellow: "0xdeb974"
      blue: "0x6cb6eb"
      magenta: "0xd38aea"
      cyan: "0x5dbbc1"
      white: "0xc5cdd9"

  ### Edge (Dark Neon variant)
  edge_dark_neon:  &edge_dark_neon
    primary:
      background: "0x2b2d3a"
      foreground: "0xc5cdd9"
  
    normal:
      black: "0x363a4e"
      red: "0xec7279"
      green: "0xa0c980"
      yellow: "0xdeb974"
      blue: "0x6cb6eb"
      magenta: "0xd38aea"
      cyan: "0x5dbbc1"
      white: "0xc5cdd9"
  
    bright:
      black: "0x363a4e"
      red: "0xec7279"
      green: "0xa0c980"
      yellow: "0xdeb974"
      blue: "0x6cb6eb"
      magenta: "0xd38aea"
      cyan: "0x5dbbc1"
      white: "0xc5cdd9"

### Choose one of the & tags from the schemes listed above
colors: *edge_dark_default
